{% extends "overrides/main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image">
                <img
                        src="assets/images/illustration.png"
                        alt=""
                        width="600"
                        draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1  id="leverage-architecture">Practical Molecular Dynamics</h1>
                <p>{{ config.site_description }} </p>
                <br>

                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button--primary"
                >
                    Get started
                </a><br>

<br>



            </div>
        </div>
    </div>
</section>


<!--  6th Section  -->
<!--  TESTIMONIALS -->
<!--<section class="tx-container-testimonial">

    <div>
        &lt;!&ndash; Titulo &ndash;&gt;
        <h1 class=testimonial-header id="testimonials" style="text-align: center">
            Trusted by our customers
        </h1>
    </div>

    <div class="container-testimonial">
        <div class="testimonial-card">
            <div class="text">
                "We utilized Binbash to help get our DevOps infrastructure launched and manage all aspects of our AWS-based setup.
                Their security and compliance focus turned out to be a great fit for our HIPAA regulation needs.<br>
                We’ve been very pleased with their responsiveness and thoroughness with regards to our technology needs
                and would be happy to work with them again in the future."
            </div>

            <div class="footer">
                <div class="image" style=" background:no-repeat center/cover url(assets/images/testimonials/yury.yakubchyk.circle.png);">
                </div>
                <h3 class='person'>
                    <a href="https://www.linkedin.com/in/yuryyak/">Yury Yakubchyk</a>
                    </h3>

                <h5 class='person-title' style="text-align:center;">Founder & CEO<br>
                    <a href="https://www.joinsprouttherapy.com/" style="color: aquamarine">joinsprouttherapy.com</a><br>
                    <a href="https://www.lifehousehotels.com/" style="color: aquamarine">lifehousehotels.com</a><br>
                    (Multiple US Industries)
                </h5>
            </div>
        </div>

        <div class="testimonial-card">
            <div class="text">
                "I've worked with Binbash for almost 3 years and my experience was absolutely positive.<br>
                I found them to be very knowledgeable and reliable as well as open minded and willing to try new
                technologies (but always considering trade-offs).<br>
                Communication is excellent (even if things go wrong).<br>
                Great Team of professionals!"
            </div>

            <div class="footer">
                <div class="image" style="background:no-repeat center/cover url(assets/images/testimonials/max.ivanov.circle.png);">
                </div>
                <h3 class='person'> <a href="https://www.toptal.com/resume/max-ivanov">Max Ivanov</a>
                </h3>
                <h5 class='person-title' style="text-align:center;"> Software Architect <br> (Media Streaming Industry)</h5>
            </div>
        </div>

        <div class="testimonial-card">
            <div class="text">
                "Binbash has a focused and highly productive professional team.<br>
                They have exceptional tech skills and effectively transmit and implement their solutions, such as Leverage.
                Thanks to their collaboration we managed to have a superlative product hosted in AWS.
                It is undoubtedly a company with which I would like to work in any challenge that lies ahead"
            </div>

            <div class="footer">
                <div class="image" style="background:no-repeat center/cover url(assets/images/testimonials/martin.vago.circle.png);">
                </div>
                <h3 class='person'> <a href="https://www.linkedin.com/in/mvago/">Martín Vago</a>
                </h3>
                <h5 class='person-title' style="text-align:center;">IT & CloudOps Manager <br>
                    <a href="https://www.tunubi.com" style="color: aquamarine">tunubi.com</a><br>
                    (Fintech Industry)
                </h5>
            </div>
        </div>

    </div><br>

    <div class="tx-hero">
        &lt;!&ndash; Hero content &ndash;&gt;
        <div class="tx-hero__content-2" style="float: left">
            <a
                    href="../../work-with-us/testimonials/"
                    title="{{ page.next_page.title | e }}"
                    class="md-button md-typeset"
                    style="
                        font-family: Roboto;
                        font-weight: 700;
                        background: #172A45;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        padding-right: 2rem;
                        padding-left: 2rem;
                        border: 0.1rem solid;
                        border-radius: .1rem;
                          "
            >
                More testimonials
            </a>
        </div>
    </div><br>

</section>-->

<!--     7th Section    -->
<!-- SUBSCRIPTION PLANS -->
<!--<section>
    &lt;!&ndash; Contenedor &ndash;&gt;
    <div class="pricing-wrapper clearfix">
        &lt;!&ndash; Titulo &ndash;&gt;
        <h1 class="pricing-table-title" id="leverage-subscription" style="text-align: left">
            Subscription Plans
        </h1>

        <div class="pricing-table">
            <h3 class="pricing-title">Community (Free)</h3>
            <div class="price">$0<sup>/ month</sup></div>
            &lt;!&ndash; Contratar / Contact Us &ndash;&gt;
            <div class="table-buy">
                <p><sup> Open Source ❤️</sup></p>
                <a href="https://github.com/binbashar"
                   class="pricing-action">Free</a>
            </div>
        </div>

        <div class="pricing-table">
            <h3 class="pricing-title">Basic</h3>
            <div class="price">$3400<sup>/ month</sup></div>
            &lt;!&ndash; Contratar / Contact Us &ndash;&gt;
            <div class="table-buy">
                <p>$3400<sup>/ month (40hs)</sup></p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScgYmguLk5lDgrDa7HEt8hZFsRKncCf0XMezbDRsXt4mixg4Q/viewform?usp=sf_link"
                   class="pricing-action">Contact Us</a>
            </div>
        </div>

        <div class="pricing-table recommended">
            <h3 class="pricing-title">Premium</h3>
            <div class="price">$6400<sup>/ month</sup></div>
            &lt;!&ndash; Contratar / Contact Us &ndash;&gt;
            <div class="table-buy">
                <p>$6400<sup>/ month (80hs)</sup></p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScgYmguLk5lDgrDa7HEt8hZFsRKncCf0XMezbDRsXt4mixg4Q/viewform?usp=sf_link"
                   class="pricing-action">Contact Us</a>
            </div>
        </div>

        <div class="pricing-table">
            <h3 class="pricing-title">Business</h3>
            <div class="price">$90<sup>/ hour</sup></div>
            &lt;!&ndash; Contratar / Contact Us &ndash;&gt;
            <div class="table-buy">
                <p>$10800<sup>/ month (120hs)</sup></p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScgYmguLk5lDgrDa7HEt8hZFsRKncCf0XMezbDRsXt4mixg4Q/viewform?usp=sf_link"
                   class="pricing-action">Contact Us</a>
            </div>
        </div>
    </div>

    <div class="tx-hero">
        &lt;!&ndash; Hero content &ndash;&gt;
        <div class="tx-hero__content-2" style="float: left">
            <a
                    href="../../work-with-us/subscription-plans"
                    title="{{ page.next_page.title | e }}"
                    class="md-button md-typeset"
                    style="
                        font-family: Roboto;
                        font-weight: 700;
                        background: #172A45;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        padding-right: 2rem;
                        padding-left: 2rem;
                        border: 0.1rem solid;
                        border-radius: .1rem;
                          "
            >
                Subscription Plans Details
            </a>
        </div>
    </div>

</section>-->

<!-- Footer Section -->
<section class="tx-footer">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-footer">
                <p style="text-align:center;">
                    © 2022
                        David G Oppenheimer. All rights reserved
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
